/.metadata/
/.recommenders/
target/
*.lock
/bin/
.breakpoints

*.exe
*.exp
*.lib
*.sublime-project
*.sublime-workspace

2024/day4/main.py
2024/day4/expected.txt

# don't attach AOC copyrighted data
data.txt
test.txt